.imgloget{
    width: 100px;
}
.bg-body-tertiary{
    background-color: none !important;
}
.cartitas{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.buscador{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    gap: 10px;
}
.searchcheck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer{
    background-color: rgb(47, 45, 45);
    min-height: 10vh;
    margin-top: 100px;
    display: flex;
}
main{
    min-height: 80vh;
}
.logoredes{
    display: flex;
    width: 40px;
    height: 32px;
    margin: 10px;
}
.contenedorredes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}
.onlylogos{
    display: flex;
    flex-wrap: wrap;
}
.blanco{
    color: white;
    margin: 10px;
}

table, tr, th, td, tbody{
    border: 3px solid black !important;
    padding: 2px;
    border-collapse: collapse;
    margin-left: 10px;
    margin-right: 10px;
}
.title{
    background-color: rgb(193, 186, 186);
    box-shadow: 0 0 10px rgb(56, 127, 172);
    font-size: 20px;
    color: black;
}
.tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-titulo{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (min-width:190px) and (max-width:304px){
    .onlylogos{
        flex-direction: column;
    }
}
@media (min-width:0px) and (max-width:280px){
    .tabla{
        display: none;
    }
}